<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>DreamLand</title>
    <link rel="stylesheet" href="../../static/css/bootstrap.min.css" th:href="@{/css/bootstrap.min.css}">
    <link rel="stylesheet" href="../../static/css/bootstrap-theme.min.css" th:href="@{/css/bootstrap-theme.min.css}">
    <link rel="stylesheet" href="../../static/css/community.css" th:href="@{/css/community.css}">
    <script src="../../static/js/jquery.min.js" th:src="@{/js/jquery.min.js}"></script>
    <script src="../../static/js/bootstrap.min.js" th:src="@{/js/bootstrap.min.js}"></script>

</head>
<body>
<div class="container">
    <div class="jumbotron">
        <h1>遇到了一个错误:404</h1>
        <p th:text="${message}">...</p>
        <p><a class="btn btn-primary btn-lg" href="/" th:href="@{/}" role="button">回到首页</a></p>
    </div>
</div>
</body>
</html>